*{  
    font-family: Georgia, 'Times New Roman', Times, serif;
    box-sizing: border-box;
}
h1{
    text-align: center;
    font-size: 175%;
}

html{
    margin: 10px;
}
.container{
    width:100%;
    margin:0;
    padding: 0;
}

#music{
    float: left;
    border:1px solid black;
    width:32%;
    position:relative;
    margin:0px 0px 0px 10px;
    background-color: rgb(243, 239, 239);
    
}

#food{
    float: left;
    border:1px solid black;
    width:32%;
    position:relative;
    top: 0px;
    left: 0px;
    margin:0px 0px 0px 10px;
    background-color: rgb(243, 239, 239);
    
}

#clothing{
    float: left;
    width:32%;
    position:relative;
    border:1px solid black;
    margin:0px 0px 0px 10px;
    background-color: rgb(243, 239, 239);
    
}

h2{
    text-align:right;
    position: relative;
    background-color: gray;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    margin-left: 50px;
    border-bottom:1px solid black;
    border-left:1px solid black;
    font-size: 125%;
}

p{
    padding:10px
}

#egg{
    background-color: rgb(179, 71, 71);
}

#sola{
    background-color: rgb(194, 130, 100);
}
#mode{
    background-color: rgb(68, 202, 202);
}

@media only screen and (max-width: 767px)
{

#food, #music, #clothing
{
    width:100%;
    margin-bottom: 10px;
    margin-left:0px;
}
}

@media only screen and (min-width: 768px) and (max-width: 991px)
{
html{
        margin:5px;
    }

#food, #music
{
    width:49%;
    margin-bottom: 10px;
    margin-left:0px;
}

#food {
    margin-right:15px;
}

 #clothing{
     width:100%;
     margin-left:0px;
 }
}

@media only screen and (min-width: 992px)
{
    #food, #music, #clothing
    {
        
      border:2px solid black;
    }   
}